[Unit]
Description=Gunicorn Daemon for detection
After=network.target


[Service]
User=gumaonelove
WorkingDirectory=/home/gumaonelove/chelny_working/backend
ExecStart=/home/gumaonelove/chelny_working/venv/bin/python app.py


[Install]
WantedBy=multi-user.target